{% load static %}
<!DOCTYPE html>

<head>
	<title>fasf</title>
	<link rel='stylesheet' href="{% static 'style/dashboard.css'%}">

</head>

<body>
	<nav>
		<div class='picContain'>
			<div class='pic'></div>

		</div>
		<div class='nav'>
			<a>
				<p>{{user.username}}</p>
			</a>
			<a>
				<p>Connected Modules</p>
			</a>
			<a>
				<p>Sensor Data History</p>
			</a>
		</div>
	</nav>
	<section>
		<article class='overallstatus'>
			<h1>Overall Farm Status</h1>
			<div class='OverAllStatusContainer'>
				<div class='OverallDataContainer'>
					{% for key, values in values.items %}
					<div class='card'>
						<div class="gauge" values ='{{values}}'>
						</div>
						<p class='gaugeName'>{{key}} {{values}} </p>
					</div>
					{% endfor %}
				</div>
				<!-- <div class='ActivityLog'>
					<div class='Message'>
						<p>Motor has started 3 sec ago</p>
					</div>
					<div class='Message'>
						<p>Motor has started 3 sec ago</p>
					</div>
					<div class='Message'>
						<p>Motor has started 3 sec ago</p>
					</div>
					<div class='Message'>
						<p>Motor has started 3 sec ago</p>
					</div>
					<div class='Message'>
						<p>Motor has started 3 sec ago</p>
					</div>
					<div class='Message'>
						<p>Motor has started 3 sec ago</p>
					</div>
					<div class='Message'>
						<p>Motor has started 3 sec ago</p>
					</div>
					<div class='Message'>
						<p>Motor has started 3 sec ago</p>
					</div>
					<div class='Message'>
						<p>Motor has started 3 sec ago</p>
					</div>

				</div> -->
			</div>
		</article>
		<article class='connectedModules'>
			<h1>Connected Modules </h1>
			
			<div class='container'>
				<div class='sensorModules'>
					<h1>Sensor Modules</h1>
					<div class='Container'>


						{% for modules in sensor%}
						<div class='card'>
							<h1>{{modules.name}}</h1>
							
							<ul>
								{%if modules.module_type == 'BM' %}
								<li>Temperature</li>
								<li>Humidity</li>
								<li>Soil Moisture</li>
								<li>pH Level</li>
								{%elif modules.module_type == 'LM' %}
								<li>Light Intensity</li>
								{%elif modules.module_type == 'WM' %}
								<li>Water level</li>
								
								
								{%endif%}
								<a href="{% url 'detachModule' 	user.id modules.id %}"><li>Remove</li></a>

							</ul>

						</div>
						{%endfor%}
						<!-- Add modules btn -->

					</div>
				</div>
					<!-- <div class='WaterLevelGuage'>
						<div class='line'></div>
						<div class='line'></div>
						<div class='line'></div>
						<p>Water Level</p>
					</div> -->
			</div>
			<div class='AccutatorModules'>
				<h1>Accutator Modules</h1>
				<div class='Container'>

					<div class='card'>
						<h1>Module 1</h1>
						<ul>
							<li>Temperature</li>
							<li>Humidity</li>
							<li>Soil Moisture</li>
							<li>pH Level</li>


						</ul>

					</div>
					{% for mod in accutator%}
					<div class='card'>
						<h1>{{mod.module.name}}</h1>
						<ul>
							<li><a href="{% url 'accutator_module_update' mod.module.name%}">Link</a></li>
							<li>{{mod.value_pattern}}</li>
							{%if mod.sensor_module%}
							<li>{{mod.sensor_module}}</li>
							{%endif%}
							<li>{{mod.sensor_type}}</li>
							<li>Status {{mod.status}}</li>
							<li>{{mod.triggerValue}}</li>
							<li>Inverse {{mod.inverse}}</li>
							{% if mod.inverse == False %}
							<li>Accutator Turns on if value is above {{mod.triggerValue}}</li>
							{%else%}
							<li>Accutator Turns on if value is below {{mod.triggerValue}}</li>
							{%endif%}
							
							<a href="{% url 'detachModule' 	user.id mod.module.id %}"><li>Remove</li></a>
						


						</ul>

					</div>
					{%endfor%}
					

				</div>
				
				<a href="{% url 'assignModule' user.id %}">
					<div class='card'>

						<h1>ADD MODULES</h1>
					</div>
				</a>	

			</div>
		</article>

	</section>

	<script>
		document.addEventListener('DOMContentLoaded' , function(){
			const guagues = document.querySelectorAll('.gauge');
			guagues.forEach(function(guageDiv){
				const values = parseInt(guageDiv.getAttribute('values'))
				console.log(getComputedStyle(document.querySelector('.gauge')).getPropertyValue('--deg'));
				console.log(values)
			guageDiv.style.setProperty('--deg', `${values}deg`);	
			console.log('Computed --deg:', getComputedStyle(guageDiv).getPropertyValue('--deg'));
			})


		})	
		

	</script>
</body>

</html>