{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Farm Auto</title>
    <link rel='stylesheet' href="{% static 'style/style.css'%}">
    <link rel='logo' href='logo.jpg'>
    
</head>

<body>
    <header>
        <h2>FARM AUTO</h2>
        <nav>
            <div class='nav_items'>Home</div>
            <div class='nav_items'>Home</div>
            <div class='nav_items'>Home</div>
            <a href="{%url 'login'%}"><div class='nav_login'><img src="{%static 'images/login.png'%}">Login</div></a>
        </nav>
    </header>

    <section class='home'>
		
		
        <img class='background' src="{%static 'images/Frame 1.png'%}">
        <div class='tractor'>
            <img class='tractor-body' src="{%static 'images/tractor.png'%}">
            <img class='tractor-big-wheel tractor-wheel' src="{%static 'images/bigwheel.png'%}">
            <img class='tractor-small-wheel tractor-wheel' src="{%static 'images/smallwheel.png'%}">
        </div>
        <img class='windmill' src = "{%static 'images/windmill.png'%}">
        <img class='bottom' src="{%static 'images/herodown.png'%}">
        
        <div class='text'>
			<h1>
				AgroTrack 
			</h1>
			<p>Track, monitor, and optimize your farm with IoT technology.</p>
			<a href='#productReview'><button href='#productReview'>Get Started</button></a>
        </div> 
       
    </section>
     <img class='homeending' src="{%static 'images/homeending.png'%}">
     <section class='productReview' >
		<h1 id='productReview' class='motive'>Our Motive</h1>
		<div class='cardContainer'>
			<div class='card'>
				<img class='logo' src="{%static 'images/iot.png'%}">
				<h1>Empower Farmers with Technology</h1><p>To equip farmers with cutting-edge IoT technology that enhances their decision-making capabilities, enabling them to optimize their operations and increase productivity.</p></div>
			<div class='card'><img class='logo' src="{%static 'images/resource.png'%}">	<h1>Enhance Crop Yield and Quality</h1>
				
<p> To empower farmers with IoT technology that enhances decision-making and optimizes operations for increased productivity.</p></div>
<div class='card'><img class='logo' src="{%static 'images/efficiency.png'%}">
<h1>Sustainability and Resource Efficiency</h1>

<p>To promote sustainable farming practices by enabling farmers to use resources more efficiently, reduce waste, and minimize environmental impact through data analysis and automation.</p></div>
<div class='card'><img class='logo' src="{%static 'images/commun.png'%}">
<h1>Support Agricultural Community Growth</h1>

<p>To foster a community of connected farmers who can share knowledge, experiences, and insights, ultimately leading to a more resilient and productive agricultural ecosystem.</p>
			</div>
		</div>
     </section>
     
     <section class='working'>
		<h1>How it Works ??</h1>
		<div class='workingContain'>
			<div class='card'>
				<h1>THe first Step</h1>
			</div>
			<div class='card'>
				<h1>THe first Step</h1>
			</div>
			<div class='card'>
				<h1>THe first Step</h1>
			</div>
			<div class='card'>
				<h1>THe first Step</h1>
			</div>
		
		</div>
		
     </section>
     
    <!-- GSAP CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>    <!-- Your custom script -->
    <script src="script/gsap.js"></script>
</body>

</html>
